{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
<div class="form_auth__wrapper">
    <h1>Изменение пароля</h1>
    <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors|join:"<br>" }}
            </div>
        {% endif %}
        <div class="mb-3">
            {{ form.old_password|add_class:"form-control form_auth__input"|attr:"placeholder:Актуальный пароль" }}
            {% if form.old_password.errors %}
                <div class="invalid_feedback">
                    {{ form.old_password.errors|join:"<br>" }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3 form_auth__input_mt">
            {{ form.new_password1|add_class:"form-control form_auth__input input_mt"|attr:"placeholder:Новый пароль"}}
            {% if form.new_password1.errors %}
                <div class="invalid_feedback">
                    {{ form.new_password1.errors|join:"<br>" }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3 form_auth__input_mt">
            {{ form.new_password2|add_class:"form-control form_auth__input input_mt"|attr:"placeholder:Новый пароль еще раз"}}
            {% if form.new_password2.errors %}
                <div class="invalid_feedback">
                    {{ form.new_password2.errors|join:"<br>" }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="form_auth__btn w-100">Сохранить</button>
     </form>
</div>
{% endblock %}