{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="form_auth__wrapper">
    <h1>Сброс пароля</h1>
    <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors|join:"<br>" }}
            </div>
        {% endif %}
        <div class="mb-3">
            {{ form.email|add_class:"form-control form_auth__input"|attr:"placeholder:Почта" }}
            {% if form.email.errors %}
                <div class="invalid_feedback">
                    {{ form.email.errors|join:"<br>" }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="form_auth__btn w-100">Сбросить</button>
     </form>
</div>
{% endblock %}