{% load static %}
<div class="copyright">
    © {{ year }} Copyright Bookworm
</div>
<div class="communication">
    <div class="communictaion_head">Контакты:</div>
    <div class="communication_links">
        <a href="https://github.com/licaro-1" target="_blank" class="communication_link_item"><img src="{% static 'img/icons/github.svg' %}" alt=""><span class="communication_link_name">GitHub</span></a>
        <a href="https://t.me/licarro" target="_blank" class="communication_link_item"><img src="{% static 'img/icons/telegram.svg' %}" alt=""><span class="communication_link_name">Telegram</span></a>
        <a href="{% url 'feedback:feedback_create' %}" target="_blank" class="communication_link_item"><img src="{% static 'img/icons/feedback_mail.svg' %}" alt=""><span class="communication_link_name">Форма обратной связи</span></a>
    </div>
</div>
